.icon-row {
  display: flex; /*큐알코드 addby ,,ㅑ=invite  들 가로로 놓이게 */
  justify-content: space-between;
  padding-bottom: 25px;
}
.icon-row__icon {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; /*글자들이 아이콘 다음 줄에 놓이도록*/
  align-items: center;
}

.icon-row__icon i {
  /*이 클래스 안의 아이콘에만 속성 적용*/
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}
